C 0 0 "D" 0 0 0 0 60 0 L
X "PIN_TEXT" "D" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "S" 0 -100 0 0 60 0 L
X "PIN_TEXT" "S" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "K" 0 -200 0 0 60 0 L
X "PIN_TEXT" "K" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "A" 0 -300 0 0 60 0 L
X "PIN_TEXT" "A" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
L 200 100 600 100 -1 0
L 600 -400 600 100 -1 0
L 600 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 650 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

